<footer class="bg-gray-100">
    <div class="mx-auto max-w-5xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="flex justify-center">
        <div class="text-3xl font-bold cursor-pointer">Urban<span class="text-rose-700 ">Nest</span></div>
      </div>
  
      <p class="mx-auto mt-6 max-w-md text-center leading-relaxed text-gray-500">
        Discover the Perfect Urban Sanctuary - Where Comfort, Convenience, and Style Await
      </p>
  
      <ul class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12">
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Home </a>
        </li>
  
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Features </a>
        </li>
  
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Properties </a>
        </li>
  
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Agents </a>
        </li>
  
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Contact </a>
        </li>

      </ul>
    </div>
  </footer>
  