<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=lexend:300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
  class="bg-gray-50 flex flex-col min-h-screen"
  style="font-family: 'Lexend', sans-serif"
  >
    {% include "navbar.html" %}
    <main class="flex-1">{% block content %}{% endblock content %}</main>
    {% include "footer.html" %}
  </body>
</html>
