{% extends "main.html" %} {% block content %}
<section class="bg-gray-100">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
            <form action="" method="post" enctype="multipart/form-data" class="space-y-4">
                {% csrf_token %}
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                    <div>
                        <label class="text-gray-600" for="name">Name</label>
                        <input class="w-full rounded-lg mt-2 border border-gray-300 mt-2 p-3 text-sm" type="text"
                            name="name" id="name" value="{{property.name}}" />
                    </div>
                    <div>
                        <label class="text-gray-600" for="name">Location</label>
                        <input class="w-full rounded-lg mt-2 border border-gray-300 p-3 text-sm"
                            value="{{property.location}}" type="text" name="location" id="name" />
                    </div>
                </div>

                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                    <div>
                        <label class="text-gray-600" for="name">Province</label>

                        <select name="province" id="HeadlineAct"
                            class="p-3 w-full mt-2 rounded-lg border-gray-300 text-gray-700 sm:text-sm">
                            <option {% if property.province == 'koshi' %} selected {% endif %} value="koshi">Koshi Province</option>
                            <option {% if property.province == 'madhesh' %} selected {% endif %} value="madhesh">Madhesh Province</option>
                            <option {% if property.province == 'bagmati' %} selected {% endif %} value="bagmati">Bagmati Province</option>
                            <option {% if property.province == 'gandaki' %} selected {% endif %} value="gandaki">Gandaki Province</option>
                            <option {% if property.province == 'lumbini' %} selected {% endif %} value="lumbini">Lumbini Province</option>
                            <option {% if property.province == 'karnali' %} selected {% endif %} value="karnali">Karnali Province</option>
                            <option {% if property.province == 'sudurpaschim' %}selected {% endif %}  value="sudurpaschim">Sudurpaschim Province</option>
                        </select>
                    </div>

                    <div>
                        <label class="text-gray-600" for="name">Listing Type</label>

                        <select name="listing_type" id="HeadlineAct"
                            class="p-3 w-full mt-2 rounded-lg border-gray-300 text-gray-700 sm:text-sm">
                            <option {% if property.listing_type == 'sell' %}selected{% endif %} value="sell">Sell</option>
                            <option {% if property.listing_type == 'rent' %}selected{% endif %} value="rent">Rent</option>
                        </select>
                    </div>
                </div>

                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                    <div>
                        <label class="text-gray-600" for="name">Price</label>
                        <input name="price" class="w-full rounded-lg mt-2 border border-gray-300 p-3 text-sm" min="0"
                            value="{{property.price}}" type="number" id="name" />
                    </div>
                    <div>
                        <label class="text-gray-600" for="name">Parking</label>
                        <input class="w-full rounded-lg mt-2 border border-gray-300 p-3 text-sm" min="0"
                        value="{{property.parking}}" type="number" id="name" name="parking" />
                    </div>
                </div>
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                    <div>
                        <label class="text-gray-600" for="name">Bathroom</label>
                        <input class="w-full rounded-lg mt-2 border border-gray-300 p-3 text-sm" min="0"
                            value="{{property.bathroom}}" type="number" id="name" name="bathroom" />
                        </div>
                    <div>
                        <label class="text-gray-600" for="name">Bedroom</label>
                        <input class="w-full rounded-lg mt-2 border border-gray-300 p-3 text-sm" min="0"
                        value="{{property.bedroom}}" type="number" id="name" name="bedroom" />
                    </div>
                </div>

                <div>
                    <label class="text-gray-600" for="phone">Property Image</label>
                    <div id="imagePreviewContainer">
                      <img id="imagePreview" class="preview-image w-full h-[500px] py-2 object-cover" src="{{property.property_image.url}}" alt="{{property.name}}">
                    </div>
                  <input
                    class="w-full rounded-lg mt-2 border border-gray-300 p-3 text-sm"
                    type="file"
                    name="image"
                    id="image"
                    onchange="previewImage(event)"
                  />
                </div>
                <div>
                    <a href="{% url 'add_images' property.id%}" class="px-3 py-2 border border-gray-500 rounded-lg text-gray-600 mt-10 hover:bg-gray-500 hover:text-white transition duration-300">Click to Add more
                        images</a>
                </div>
                <div>
                    <label class="text-gray-600" for="name">Description</label>

                    <textarea id="editor" name="description"
                        class="w-full rounded-lg border border-gray-300 mt-2 p-3 h-80 text-sm"
                        placeholder="Write a short description" rows="6" id="description">
            {{property.description}}
        </textarea>
                </div>

                <div class="mt-4">
                    <button type="submit"
                        class="inline-block w-full rounded-lg bg-rose-600 px-5 py-3 font-medium text-white sm:w-auto">
                        Publish
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    function previewImage(event) {
      const input = event.target;
      if (input.files && input.files[0]) {
        const reader = new FileReader();
        reader.onload = function(e) {
          const imagePreview = document.getElementById('imagePreview');
          imagePreview.src = e.target.result;
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
{% endblock content %}