<section class="flex flex-col pt-3 w-full bg-gray-50 md:min-h-screen overflow-y-scroll">
    <div class="divide-y">
 {% if mails %}
 {% for mail in mails %}
 <div class="transition hover:bg-indigo-100 px-3">
 <a href="{% url "inbox_single" mail.id %}" class="py-5 border-b px-3 ">
   <div  class="flex justify-between items-center">
     <h3 class="text-lg font-semibold">{{mail.sender.full_name}}</h3>
     <p class="text-md text-gray-400">{{mail.created_at|timesince}} ago</p>
   </div>
   <div class="text-md italic text-gray-400">{{mail.message|slice:30}}...</div>
 </a>
</div>
 {% endfor %}
 {%else%}
  <div class="flex items-center justify-center py-5 mt-28 gap-3">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-gray-400">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
    </svg>
    
    <span class="text-gray-400">No messages yet</span>
  </div>
 {% endif %}
    </div>
  </section>  